## Generic Paths

TestFrameworkOutputRootPath : TestsOutput                                   # Default value: TestsOutput
FrameworkTestsRootPath : FrameworkTests                                     # Default value: FrameworkTests

## Log System

DumpLogsToFile : true                                                       # true / false
LogLevel : Warning                                                          # None / Error / OK / Warning / Debug
LogPath : Log.html                                                          # Default value: Log.html

ErrorsLogActive : true                                                      # true / false
ErrorsLogPath : ErrorsLog.html                                              # Default value: ErrorsLog.html

LogsFlushPeriod : 1000                                                      # Default value: 1000; Unit: ms