## Generic Paths

TestFrameworkInputRootPath : TestsInput                                     # Default value: TestsInput
TestFrameworkOutputRootPath : TestsOutput                                   # Default value: TestsOutput
FrameworkTestsRootPath : FrameworkTests                                     # Default value: FrameworkTests


## Log System

DumpLogsToFile : true                                                       # true / false
LogLevel : Warning                                                          # None / Error / OK / Warning / Debug
LogPath : Log.html                                                          # Default value: Log.html

ErrorsLogActive : true                                                      # true / false
ErrorsLogPath : ErrorsLog.html                                              # Default value: ErrorsLog.html

LogsFlushPeriod : 1000                                                      # Default value: 1000; Unit: ms


## Tests Report System

DumpTestResultJSONFile : true                                               # true / false
DumpCoverageToJSONFile : true                                               # true / false
DumpErrorsToJSONFile : true                                                 # true / false
IndentReportSystemJsonFiles : true                                          # true / false


## Tests Global Config

MainTestsNamespace : TestFramework.FrameworkTests                           # Default value: TestFramework.FrameworkTests
