## Generic Paths

TestFrameworkOutputRootPath : TestsOutput                                   # Default value: TestsOutput
FrameworkTestsRootPath : FrameworkTests                                     # Default value: FrameworkTests

## Log System

LogPath : Log.html                                                          # Default value: Log.html
DumpLogsToFile : true                                                       # true / false
LogLevel : Warning                                                          # None / Error / OK / Warning / Debug